<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.learn-jquery.phonegap.geolocation"
        versionCode="10" 
        version   = "2.0.0">

    <name>Double Green</name>

    <description>
        Need description here
    </description>

    <author>
        Double Green Team
    </author>


</widget>
